.env
.history
.idea
app/__pycache__
app/model/__pycache__
app/service/__pycache__
app/service/test/__pycache__
.conda
app/util/__pycache__

app/model/test/__pycache__
app/model/charts/__pycache__
app/model/db/__pycache__

app/controller/__pycache__
